<div class="contentTitle">
  <h1>Justices</h1>
</div>
<div class="justiceAll">
  <% @justices.each do |justice| %>
    <div class="caseSub">
      <div class="caseName">
        <h2><%= link_to justice.name, justice_path(justice) %></h2>
      </div>
    </div>
  <% end %>
</div>
