<div class="contentTitle">
  <h1>Cases</h1>
</div>
<div class="caseAll">
  <% @cases.each do |cse| %>
    <div class="caseSub">
      <div class="caseName">
        <h2><%= link_to "#{cse.case}", case_path(cse) %></h2>
      </div>
    </div>
  <% end %>
</div>
