<div class="welcome">
  <div class="welcomeImage">
    <%= image_tag 'courthouse.png', size: "256x244", alt: "courthouse" %>
  </div>
<h1>Welcome to Courtly</h1>
<p>Supreme Court Justices and Cases</p>
</div>
