<h1>About</h1>
<h2> Question: What goes on in the Supreme Court?</h2>
<p> To many, the highest court in the land can seem mysterious. 'Courtly' seeks to help offer insight into the court by using comparing the delivery opinions of the the nine justices. How often do the Justices agree with the majority opinion? How often do they dissent? How often do justices write the majority opinion? </p>
